<p>Congratulations {{userName}},</p>
<p>You have been created as a Dotisense user.</p>
<p>
  Here's your login credentials:
</p>
<p>
  Login ID:
  {{email}}
</p>
<p>
  Password:
  {{password}}
</p>

<p>
    Please change your password once you login.
<p>
  <a href='{{clientUrl}}'>Visit Dotisense to begin</a>
</p>